body
{
	background:url("https://th.bing.com/th/id/R.a46c09eefb5e934e887f7e8c3e8d239a?rik=KfRaEmssLB3a8A&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fvPopEp4.png&ehk=c4VRaViorttScYwHvQmsZEKf4RtXgg7OSUwyckwPcbY%3d&risl=&pid=ImgRaw&r=0");
    background-size: cover;
font-family: fira sans;
color: black;
}